$font-color: #333333;
$theme-color: #0090f6;
$theme-color2: #ffffff;
$frame-color: #c3c7c8;

$sizes: (
  horizontal: (
    orientation: landscape,
  ),
  desktop: (
    min-width: 1024px,
  ),
);

@mixin media($size) {
  $size: map-get($sizes, $size);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error 'Missing size';
  }
}
